/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.2.2-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: dotproject
-- ------------------------------------------------------
-- Server version	12.2.2-MariaDB-ubu2404

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `dotprojectbillingcode`
--

DROP TABLE IF EXISTS `dotprojectbillingcode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectbillingcode` (
  `billingcode_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `billingcode_name` varchar(25) NOT NULL DEFAULT '',
  `billingcode_value` float NOT NULL DEFAULT 0,
  `billingcode_desc` varchar(255) NOT NULL DEFAULT '',
  `billingcode_status` int(1) NOT NULL DEFAULT 0,
  `company_id` bigint(20) NOT NULL DEFAULT 0,
  PRIMARY KEY (`billingcode_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectbillingcode`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectbillingcode` WRITE;
/*!40000 ALTER TABLE `dotprojectbillingcode` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectbillingcode` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectcommon_notes`
--

DROP TABLE IF EXISTS `dotprojectcommon_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectcommon_notes` (
  `note_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `note_author` int(10) unsigned NOT NULL DEFAULT 0,
  `note_module` int(10) unsigned NOT NULL DEFAULT 0,
  `note_record_id` int(10) unsigned NOT NULL DEFAULT 0,
  `note_category` int(3) unsigned NOT NULL DEFAULT 0,
  `note_title` varchar(100) NOT NULL DEFAULT '',
  `note_body` text NOT NULL,
  `note_date` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `note_hours` float NOT NULL DEFAULT 0,
  `note_code` varchar(8) NOT NULL DEFAULT '',
  `note_created` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `note_modified` timestamp NULL DEFAULT NULL,
  `note_modified_by` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`note_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectcommon_notes`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectcommon_notes` WRITE;
/*!40000 ALTER TABLE `dotprojectcommon_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectcommon_notes` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectcompanies`
--

DROP TABLE IF EXISTS `dotprojectcompanies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectcompanies` (
  `company_id` int(10) NOT NULL AUTO_INCREMENT,
  `company_module` int(10) NOT NULL DEFAULT 0,
  `company_name` varchar(100) DEFAULT '',
  `company_phone1` varchar(30) DEFAULT '',
  `company_phone2` varchar(30) DEFAULT '',
  `company_fax` varchar(30) DEFAULT '',
  `company_address1` varchar(50) DEFAULT '',
  `company_address2` varchar(50) DEFAULT '',
  `company_city` varchar(30) DEFAULT '',
  `company_state` varchar(30) DEFAULT '',
  `company_zip` varchar(11) DEFAULT '',
  `company_primary_url` varchar(255) DEFAULT '',
  `company_owner` int(11) NOT NULL DEFAULT 0,
  `company_description` text DEFAULT NULL,
  `company_type` int(3) NOT NULL DEFAULT 0,
  `company_email` varchar(255) DEFAULT NULL,
  `company_custom` longtext DEFAULT NULL,
  PRIMARY KEY (`company_id`),
  KEY `idx_cpy1` (`company_owner`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectcompanies`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectcompanies` WRITE;
/*!40000 ALTER TABLE `dotprojectcompanies` DISABLE KEYS */;
INSERT INTO `dotprojectcompanies` VALUES
(1,0,'TechMail Solutions','55555555','55555555','','Guatemala','Chimaltenango','Guatemala','Chimal','748','techmail.com',1,'<p>Empresa encarga de servidores a nivel global.</p>',0,'admin@techmail.com',NULL);
/*!40000 ALTER TABLE `dotprojectcompanies` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectconfig`
--

DROP TABLE IF EXISTS `dotprojectconfig`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectconfig` (
  `config_id` int(11) NOT NULL AUTO_INCREMENT,
  `config_name` varchar(127) NOT NULL DEFAULT '',
  `config_value` varchar(255) NOT NULL DEFAULT '',
  `config_group` varchar(255) NOT NULL DEFAULT '',
  `config_type` varchar(255) NOT NULL DEFAULT '',
  PRIMARY KEY (`config_id`),
  UNIQUE KEY `config_name` (`config_name`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectconfig`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectconfig` WRITE;
/*!40000 ALTER TABLE `dotprojectconfig` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectconfig` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectconfig_list`
--

DROP TABLE IF EXISTS `dotprojectconfig_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectconfig_list` (
  `config_list_id` int(11) NOT NULL AUTO_INCREMENT,
  `config_id` int(11) NOT NULL DEFAULT 0,
  `config_list_name` varchar(30) NOT NULL DEFAULT '',
  PRIMARY KEY (`config_list_id`),
  KEY `config_id` (`config_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectconfig_list`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectconfig_list` WRITE;
/*!40000 ALTER TABLE `dotprojectconfig_list` DISABLE KEYS */;
INSERT INTO `dotprojectconfig_list` VALUES
(1,44,'sql'),
(2,44,'ldap'),
(3,44,'pn'),
(4,34,'app'),
(5,34,'php'),
(6,52,'php'),
(7,52,'smtp');
/*!40000 ALTER TABLE `dotprojectconfig_list` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectcontacts`
--

DROP TABLE IF EXISTS `dotprojectcontacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectcontacts` (
  `contact_id` int(11) NOT NULL AUTO_INCREMENT,
  `contact_first_name` varchar(30) DEFAULT NULL,
  `contact_last_name` varchar(30) DEFAULT NULL,
  `contact_order_by` varchar(30) NOT NULL DEFAULT '',
  `contact_title` varchar(50) DEFAULT NULL,
  `contact_birthday` date DEFAULT NULL,
  `contact_job` varchar(255) DEFAULT NULL,
  `contact_company` varchar(100) NOT NULL DEFAULT '',
  `contact_department` tinytext DEFAULT NULL,
  `contact_type` varchar(20) DEFAULT NULL,
  `contact_email` varchar(255) DEFAULT NULL,
  `contact_email2` varchar(255) DEFAULT NULL,
  `contact_url` varchar(255) DEFAULT NULL,
  `contact_phone` varchar(30) DEFAULT NULL,
  `contact_phone2` varchar(30) DEFAULT NULL,
  `contact_fax` varchar(30) DEFAULT NULL,
  `contact_mobile` varchar(30) DEFAULT NULL,
  `contact_address1` varchar(60) DEFAULT NULL,
  `contact_address2` varchar(60) DEFAULT NULL,
  `contact_city` varchar(30) DEFAULT NULL,
  `contact_state` varchar(30) DEFAULT NULL,
  `contact_zip` varchar(11) DEFAULT NULL,
  `contact_country` varchar(30) DEFAULT NULL,
  `contact_jabber` varchar(255) DEFAULT NULL,
  `contact_icq` varchar(20) DEFAULT NULL,
  `contact_msn` varchar(255) DEFAULT NULL,
  `contact_yahoo` varchar(255) DEFAULT NULL,
  `contact_aol` varchar(30) DEFAULT NULL,
  `contact_notes` text DEFAULT NULL,
  `contact_project` int(11) NOT NULL DEFAULT 0,
  `contact_icon` varchar(20) DEFAULT 'obj/contact',
  `contact_owner` int(10) unsigned DEFAULT 0,
  `contact_private` tinyint(3) unsigned DEFAULT 0,
  PRIMARY KEY (`contact_id`),
  KEY `idx_oby` (`contact_order_by`),
  KEY `idx_co` (`contact_company`),
  KEY `idx_prp` (`contact_project`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectcontacts`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectcontacts` WRITE;
/*!40000 ALTER TABLE `dotprojectcontacts` DISABLE KEYS */;
INSERT INTO `dotprojectcontacts` VALUES
(1,'Admin','Person','',NULL,NULL,NULL,'',NULL,NULL,'admin@example.com',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,'obj/contact',0,0);
/*!40000 ALTER TABLE `dotprojectcontacts` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectcustom_fields_lists`
--

DROP TABLE IF EXISTS `dotprojectcustom_fields_lists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectcustom_fields_lists` (
  `field_id` int(11) DEFAULT NULL,
  `list_option_id` int(11) DEFAULT NULL,
  `list_value` varchar(250) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectcustom_fields_lists`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectcustom_fields_lists` WRITE;
/*!40000 ALTER TABLE `dotprojectcustom_fields_lists` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectcustom_fields_lists` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectcustom_fields_struct`
--

DROP TABLE IF EXISTS `dotprojectcustom_fields_struct`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectcustom_fields_struct` (
  `field_id` int(11) NOT NULL,
  `field_module` varchar(30) DEFAULT NULL,
  `field_page` varchar(30) DEFAULT NULL,
  `field_htmltype` varchar(20) DEFAULT NULL,
  `field_datatype` varchar(20) DEFAULT NULL,
  `field_order` int(11) DEFAULT NULL,
  `field_name` varchar(100) DEFAULT NULL,
  `field_extratags` varchar(250) DEFAULT NULL,
  `field_description` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`field_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectcustom_fields_struct`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectcustom_fields_struct` WRITE;
/*!40000 ALTER TABLE `dotprojectcustom_fields_struct` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectcustom_fields_struct` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectcustom_fields_values`
--

DROP TABLE IF EXISTS `dotprojectcustom_fields_values`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectcustom_fields_values` (
  `value_id` int(11) DEFAULT NULL,
  `value_module` varchar(30) DEFAULT NULL,
  `value_object_id` int(11) DEFAULT NULL,
  `value_field_id` int(11) DEFAULT NULL,
  `value_charvalue` varchar(250) DEFAULT NULL,
  `value_intvalue` int(11) DEFAULT NULL,
  KEY `idx_cfv_id` (`value_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectcustom_fields_values`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectcustom_fields_values` WRITE;
/*!40000 ALTER TABLE `dotprojectcustom_fields_values` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectcustom_fields_values` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectdepartments`
--

DROP TABLE IF EXISTS `dotprojectdepartments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectdepartments` (
  `dept_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `dept_parent` int(10) unsigned NOT NULL DEFAULT 0,
  `dept_company` int(10) unsigned NOT NULL DEFAULT 0,
  `dept_name` tinytext NOT NULL,
  `dept_phone` varchar(30) DEFAULT NULL,
  `dept_fax` varchar(30) DEFAULT NULL,
  `dept_address1` varchar(30) DEFAULT NULL,
  `dept_address2` varchar(30) DEFAULT NULL,
  `dept_city` varchar(30) DEFAULT NULL,
  `dept_state` varchar(30) DEFAULT NULL,
  `dept_zip` varchar(11) DEFAULT NULL,
  `dept_url` varchar(25) DEFAULT NULL,
  `dept_desc` text DEFAULT NULL,
  `dept_owner` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`dept_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='Department heirarchy under a company';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectdepartments`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectdepartments` WRITE;
/*!40000 ALTER TABLE `dotprojectdepartments` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectdepartments` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectdotpermissions`
--

DROP TABLE IF EXISTS `dotprojectdotpermissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectdotpermissions` (
  `acl_id` int(11) NOT NULL DEFAULT 0,
  `user_id` varchar(80) NOT NULL DEFAULT '',
  `section` varchar(80) NOT NULL DEFAULT '',
  `axo` varchar(80) NOT NULL DEFAULT '',
  `permission` varchar(80) NOT NULL DEFAULT '',
  `allow` int(11) NOT NULL DEFAULT 0,
  `priority` int(11) NOT NULL DEFAULT 0,
  `enabled` int(11) NOT NULL DEFAULT 0,
  KEY `user_id` (`user_id`,`section`,`permission`,`axo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectdotpermissions`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectdotpermissions` WRITE;
/*!40000 ALTER TABLE `dotprojectdotpermissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectdotpermissions` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectdpversion`
--

DROP TABLE IF EXISTS `dotprojectdpversion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectdpversion` (
  `code_version` varchar(10) NOT NULL DEFAULT '',
  `db_version` int(11) NOT NULL DEFAULT 0,
  `last_db_update` date NOT NULL DEFAULT '0000-00-00',
  `last_code_update` date NOT NULL DEFAULT '0000-00-00'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectdpversion`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectdpversion` WRITE;
/*!40000 ALTER TABLE `dotprojectdpversion` DISABLE KEYS */;
INSERT INTO `dotprojectdpversion` VALUES
('2.3.0',2,'2013-01-05','2013-07-27');
/*!40000 ALTER TABLE `dotprojectdpversion` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectevent_queue`
--

DROP TABLE IF EXISTS `dotprojectevent_queue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectevent_queue` (
  `queue_id` int(11) NOT NULL AUTO_INCREMENT,
  `queue_start` int(11) NOT NULL DEFAULT 0,
  `queue_type` varchar(40) NOT NULL DEFAULT '',
  `queue_repeat_interval` int(11) NOT NULL DEFAULT 0,
  `queue_repeat_count` int(11) NOT NULL DEFAULT 0,
  `queue_data` longblob NOT NULL,
  `queue_callback` varchar(127) NOT NULL DEFAULT '',
  `queue_owner` int(11) NOT NULL DEFAULT 0,
  `queue_origin_id` int(11) NOT NULL DEFAULT 0,
  `queue_module` varchar(40) NOT NULL DEFAULT '',
  `queue_batched` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`queue_id`),
  KEY `queue_start` (`queue_batched`,`queue_start`),
  KEY `queue_module` (`queue_module`),
  KEY `queue_type` (`queue_type`),
  KEY `queue_origin_id` (`queue_origin_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectevent_queue`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectevent_queue` WRITE;
/*!40000 ALTER TABLE `dotprojectevent_queue` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectevent_queue` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectevents`
--

DROP TABLE IF EXISTS `dotprojectevents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectevents` (
  `event_id` int(11) NOT NULL AUTO_INCREMENT,
  `event_title` varchar(255) NOT NULL DEFAULT '',
  `event_start_date` datetime DEFAULT NULL,
  `event_end_date` datetime DEFAULT NULL,
  `event_parent` int(11) unsigned NOT NULL DEFAULT 0,
  `event_description` text DEFAULT NULL,
  `event_times_recuring` int(11) unsigned NOT NULL DEFAULT 0,
  `event_recurs` int(11) unsigned NOT NULL DEFAULT 0,
  `event_remind` int(10) unsigned NOT NULL DEFAULT 0,
  `event_icon` varchar(20) DEFAULT 'obj/event',
  `event_owner` int(11) DEFAULT 0,
  `event_project` int(11) DEFAULT 0,
  `event_private` tinyint(3) DEFAULT 0,
  `event_type` tinyint(3) DEFAULT 0,
  `event_cwd` tinyint(3) DEFAULT 0,
  `event_notify` tinyint(3) NOT NULL DEFAULT 0,
  PRIMARY KEY (`event_id`),
  KEY `id_esd` (`event_start_date`),
  KEY `id_eed` (`event_end_date`),
  KEY `id_evp` (`event_parent`),
  KEY `idx_ev1` (`event_owner`),
  KEY `idx_ev2` (`event_project`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectevents`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectevents` WRITE;
/*!40000 ALTER TABLE `dotprojectevents` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectevents` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectfile_folders`
--

DROP TABLE IF EXISTS `dotprojectfile_folders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectfile_folders` (
  `file_folder_id` int(11) NOT NULL AUTO_INCREMENT,
  `file_folder_parent` int(11) NOT NULL DEFAULT 0,
  `file_folder_name` varchar(255) NOT NULL DEFAULT '',
  `file_folder_description` text DEFAULT NULL,
  PRIMARY KEY (`file_folder_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectfile_folders`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectfile_folders` WRITE;
/*!40000 ALTER TABLE `dotprojectfile_folders` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectfile_folders` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectfiles`
--

DROP TABLE IF EXISTS `dotprojectfiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectfiles` (
  `file_id` int(11) NOT NULL AUTO_INCREMENT,
  `file_real_filename` varchar(255) NOT NULL DEFAULT '',
  `file_folder` int(11) NOT NULL DEFAULT 0,
  `file_project` int(11) NOT NULL DEFAULT 0,
  `file_task` int(11) NOT NULL DEFAULT 0,
  `file_name` varchar(255) NOT NULL DEFAULT '',
  `file_parent` int(11) DEFAULT 0,
  `file_description` text DEFAULT NULL,
  `file_type` varchar(100) DEFAULT NULL,
  `file_owner` int(11) DEFAULT 0,
  `file_date` datetime DEFAULT NULL,
  `file_size` int(11) DEFAULT 0,
  `file_version` float NOT NULL DEFAULT 0,
  `file_icon` varchar(20) DEFAULT 'obj/',
  `file_category` int(11) DEFAULT 0,
  `file_checkout` varchar(255) NOT NULL DEFAULT '',
  `file_co_reason` text DEFAULT NULL,
  `file_version_id` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`file_id`),
  KEY `idx_file_task` (`file_task`),
  KEY `idx_file_project` (`file_project`),
  KEY `idx_file_parent` (`file_parent`),
  KEY `idx_file_vid` (`file_version_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectfiles`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectfiles` WRITE;
/*!40000 ALTER TABLE `dotprojectfiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectfiles` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectfiles_index`
--

DROP TABLE IF EXISTS `dotprojectfiles_index`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectfiles_index` (
  `file_id` int(11) NOT NULL DEFAULT 0,
  `word` varchar(50) NOT NULL DEFAULT '',
  `word_placement` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`file_id`,`word`,`word_placement`),
  KEY `idx_fwrd` (`word`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectfiles_index`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectfiles_index` WRITE;
/*!40000 ALTER TABLE `dotprojectfiles_index` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectfiles_index` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectforum_messages`
--

DROP TABLE IF EXISTS `dotprojectforum_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectforum_messages` (
  `message_id` int(11) NOT NULL AUTO_INCREMENT,
  `message_forum` int(11) NOT NULL DEFAULT 0,
  `message_parent` int(11) NOT NULL DEFAULT 0,
  `message_author` int(11) NOT NULL DEFAULT 0,
  `message_editor` int(11) NOT NULL DEFAULT 0,
  `message_title` varchar(255) NOT NULL DEFAULT '',
  `message_date` datetime DEFAULT '0000-00-00 00:00:00',
  `message_body` text DEFAULT NULL,
  `message_published` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`message_id`),
  KEY `idx_mparent` (`message_parent`),
  KEY `idx_mdate` (`message_date`),
  KEY `idx_mforum` (`message_forum`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectforum_messages`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectforum_messages` WRITE;
/*!40000 ALTER TABLE `dotprojectforum_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectforum_messages` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectforum_visits`
--

DROP TABLE IF EXISTS `dotprojectforum_visits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectforum_visits` (
  `visit_user` int(10) NOT NULL DEFAULT 0,
  `visit_forum` int(10) NOT NULL DEFAULT 0,
  `visit_message` int(10) NOT NULL DEFAULT 0,
  `visit_date` timestamp NULL DEFAULT NULL,
  KEY `idx_fv` (`visit_user`,`visit_forum`,`visit_message`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectforum_visits`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectforum_visits` WRITE;
/*!40000 ALTER TABLE `dotprojectforum_visits` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectforum_visits` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectforum_watch`
--

DROP TABLE IF EXISTS `dotprojectforum_watch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectforum_watch` (
  `watch_user` int(10) unsigned NOT NULL DEFAULT 0,
  `watch_forum` int(10) unsigned DEFAULT NULL,
  `watch_topic` int(10) unsigned DEFAULT NULL,
  KEY `idx_fw1` (`watch_user`,`watch_forum`),
  KEY `idx_fw2` (`watch_user`,`watch_topic`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='Links users to the forums/messages they are watching';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectforum_watch`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectforum_watch` WRITE;
/*!40000 ALTER TABLE `dotprojectforum_watch` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectforum_watch` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectforums`
--

DROP TABLE IF EXISTS `dotprojectforums`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectforums` (
  `forum_id` int(11) NOT NULL AUTO_INCREMENT,
  `forum_project` int(11) NOT NULL DEFAULT 0,
  `forum_status` tinyint(4) NOT NULL DEFAULT -1,
  `forum_owner` int(11) NOT NULL DEFAULT 0,
  `forum_name` varchar(50) NOT NULL DEFAULT '',
  `forum_create_date` datetime DEFAULT '0000-00-00 00:00:00',
  `forum_last_date` datetime DEFAULT '0000-00-00 00:00:00',
  `forum_last_id` int(10) unsigned NOT NULL DEFAULT 0,
  `forum_message_count` int(11) NOT NULL DEFAULT 0,
  `forum_description` varchar(255) DEFAULT NULL,
  `forum_moderated` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`forum_id`),
  KEY `idx_fproject` (`forum_project`),
  KEY `idx_fowner` (`forum_owner`),
  KEY `forum_status` (`forum_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectforums`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectforums` WRITE;
/*!40000 ALTER TABLE `dotprojectforums` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectforums` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_acl`
--

DROP TABLE IF EXISTS `dotprojectgacl_acl`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_acl` (
  `id` int(11) NOT NULL DEFAULT 0,
  `section_value` varchar(80) NOT NULL DEFAULT 'system',
  `allow` int(11) NOT NULL DEFAULT 0,
  `enabled` int(11) NOT NULL DEFAULT 0,
  `return_value` longtext DEFAULT NULL,
  `note` longtext DEFAULT NULL,
  `updated_date` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `gacl_enabled_acl` (`enabled`),
  KEY `gacl_section_value_acl` (`section_value`),
  KEY `gacl_updated_date_acl` (`updated_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_acl`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_acl` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_acl` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_acl` VALUES
(10,'user',1,1,NULL,NULL,1778911688),
(11,'user',1,1,NULL,NULL,1778911688),
(12,'user',1,1,NULL,NULL,1778911688),
(13,'user',1,1,NULL,NULL,1778911688),
(14,'user',1,1,NULL,NULL,1778911688),
(15,'user',1,1,NULL,NULL,1778911688),
(16,'user',1,1,NULL,NULL,1778911688);
/*!40000 ALTER TABLE `dotprojectgacl_acl` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_acl_sections`
--

DROP TABLE IF EXISTS `dotprojectgacl_acl_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_acl_sections` (
  `id` int(11) NOT NULL DEFAULT 0,
  `value` varchar(80) NOT NULL DEFAULT '',
  `order_value` int(11) NOT NULL DEFAULT 0,
  `name` varchar(230) NOT NULL DEFAULT '',
  `hidden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `gacl_value_acl_sections` (`value`),
  KEY `gacl_hidden_acl_sections` (`hidden`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_acl_sections`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_acl_sections` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_acl_sections` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_acl_sections` VALUES
(1,'system',1,'System',0),
(2,'user',2,'User',0);
/*!40000 ALTER TABLE `dotprojectgacl_acl_sections` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_acl_seq`
--

DROP TABLE IF EXISTS `dotprojectgacl_acl_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_acl_seq` (
  `id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_acl_seq`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_acl_seq` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_acl_seq` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_acl_seq` VALUES
(16);
/*!40000 ALTER TABLE `dotprojectgacl_acl_seq` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aco`
--

DROP TABLE IF EXISTS `dotprojectgacl_aco`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aco` (
  `id` int(11) NOT NULL DEFAULT 0,
  `section_value` varchar(80) NOT NULL DEFAULT '0',
  `value` varchar(80) NOT NULL DEFAULT '',
  `order_value` int(11) NOT NULL DEFAULT 0,
  `name` varchar(255) NOT NULL DEFAULT '',
  `hidden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `gacl_section_value_value_aco` (`section_value`,`value`),
  KEY `gacl_hidden_aco` (`hidden`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aco`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aco` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aco` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_aco` VALUES
(10,'system','login',1,'Login',0),
(11,'application','access',1,'Access',0),
(12,'application','view',2,'View',0),
(13,'application','add',3,'Add',0),
(14,'application','edit',4,'Edit',0),
(15,'application','delete',5,'Delete',0);
/*!40000 ALTER TABLE `dotprojectgacl_aco` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aco_map`
--

DROP TABLE IF EXISTS `dotprojectgacl_aco_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aco_map` (
  `acl_id` int(11) NOT NULL DEFAULT 0,
  `section_value` varchar(80) NOT NULL DEFAULT '0',
  `value` varchar(80) NOT NULL DEFAULT '',
  PRIMARY KEY (`acl_id`,`section_value`,`value`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aco_map`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aco_map` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aco_map` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_aco_map` VALUES
(10,'system','login'),
(11,'application','access'),
(11,'application','add'),
(11,'application','delete'),
(11,'application','edit'),
(11,'application','view'),
(12,'application','access'),
(13,'application','access'),
(13,'application','view'),
(14,'application','access'),
(15,'application','access'),
(15,'application','add'),
(15,'application','delete'),
(15,'application','edit'),
(15,'application','view'),
(16,'application','access'),
(16,'application','view');
/*!40000 ALTER TABLE `dotprojectgacl_aco_map` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aco_sections`
--

DROP TABLE IF EXISTS `dotprojectgacl_aco_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aco_sections` (
  `id` int(11) NOT NULL DEFAULT 0,
  `value` varchar(80) NOT NULL DEFAULT '',
  `order_value` int(11) NOT NULL DEFAULT 0,
  `name` varchar(230) NOT NULL DEFAULT '',
  `hidden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `gacl_value_aco_sections` (`value`),
  KEY `gacl_hidden_aco_sections` (`hidden`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aco_sections`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aco_sections` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aco_sections` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_aco_sections` VALUES
(10,'system',1,'System',0),
(11,'application',2,'Application',0);
/*!40000 ALTER TABLE `dotprojectgacl_aco_sections` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aco_sections_seq`
--

DROP TABLE IF EXISTS `dotprojectgacl_aco_sections_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aco_sections_seq` (
  `id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aco_sections_seq`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aco_sections_seq` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aco_sections_seq` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_aco_sections_seq` VALUES
(11);
/*!40000 ALTER TABLE `dotprojectgacl_aco_sections_seq` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aco_seq`
--

DROP TABLE IF EXISTS `dotprojectgacl_aco_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aco_seq` (
  `id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aco_seq`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aco_seq` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aco_seq` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_aco_seq` VALUES
(15);
/*!40000 ALTER TABLE `dotprojectgacl_aco_seq` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aro`
--

DROP TABLE IF EXISTS `dotprojectgacl_aro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aro` (
  `id` int(11) NOT NULL DEFAULT 0,
  `section_value` varchar(80) NOT NULL DEFAULT '0',
  `value` varchar(80) NOT NULL DEFAULT '',
  `order_value` int(11) NOT NULL DEFAULT 0,
  `name` varchar(255) NOT NULL DEFAULT '',
  `hidden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `gacl_section_value_value_aro` (`section_value`,`value`),
  KEY `gacl_hidden_aro` (`hidden`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aro`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aro` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aro` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_aro` VALUES
(10,'user','1',1,'admin',0);
/*!40000 ALTER TABLE `dotprojectgacl_aro` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aro_groups`
--

DROP TABLE IF EXISTS `dotprojectgacl_aro_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aro_groups` (
  `id` int(11) NOT NULL DEFAULT 0,
  `parent_id` int(11) NOT NULL DEFAULT 0,
  `lft` int(11) NOT NULL DEFAULT 0,
  `rgt` int(11) NOT NULL DEFAULT 0,
  `name` varchar(255) NOT NULL DEFAULT '',
  `value` varchar(80) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`,`value`),
  KEY `gacl_parent_id_aro_groups` (`parent_id`),
  KEY `gacl_value_aro_groups` (`value`),
  KEY `gacl_lft_rgt_aro_groups` (`lft`,`rgt`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aro_groups`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aro_groups` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aro_groups` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_aro_groups` VALUES
(10,0,1,10,'Roles','role'),
(11,10,2,3,'Administrator','admin'),
(12,10,4,5,'Anonymous','anon'),
(13,10,6,7,'Guest','guest'),
(14,10,8,9,'Project worker','normal');
/*!40000 ALTER TABLE `dotprojectgacl_aro_groups` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aro_groups_id_seq`
--

DROP TABLE IF EXISTS `dotprojectgacl_aro_groups_id_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aro_groups_id_seq` (
  `id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aro_groups_id_seq`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aro_groups_id_seq` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aro_groups_id_seq` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_aro_groups_id_seq` VALUES
(14);
/*!40000 ALTER TABLE `dotprojectgacl_aro_groups_id_seq` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aro_groups_map`
--

DROP TABLE IF EXISTS `dotprojectgacl_aro_groups_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aro_groups_map` (
  `acl_id` int(11) NOT NULL DEFAULT 0,
  `group_id` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`acl_id`,`group_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aro_groups_map`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aro_groups_map` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aro_groups_map` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_aro_groups_map` VALUES
(10,10),
(11,11),
(12,11),
(13,13),
(14,12),
(15,14),
(16,13),
(16,14);
/*!40000 ALTER TABLE `dotprojectgacl_aro_groups_map` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aro_map`
--

DROP TABLE IF EXISTS `dotprojectgacl_aro_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aro_map` (
  `acl_id` int(11) NOT NULL DEFAULT 0,
  `section_value` varchar(80) NOT NULL DEFAULT '0',
  `value` varchar(80) NOT NULL DEFAULT '',
  PRIMARY KEY (`acl_id`,`section_value`,`value`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aro_map`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aro_map` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aro_map` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectgacl_aro_map` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aro_sections`
--

DROP TABLE IF EXISTS `dotprojectgacl_aro_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aro_sections` (
  `id` int(11) NOT NULL DEFAULT 0,
  `value` varchar(80) NOT NULL DEFAULT '',
  `order_value` int(11) NOT NULL DEFAULT 0,
  `name` varchar(230) NOT NULL DEFAULT '',
  `hidden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `gacl_value_aro_sections` (`value`),
  KEY `gacl_hidden_aro_sections` (`hidden`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aro_sections`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aro_sections` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aro_sections` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_aro_sections` VALUES
(10,'user',1,'Users',0);
/*!40000 ALTER TABLE `dotprojectgacl_aro_sections` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aro_sections_seq`
--

DROP TABLE IF EXISTS `dotprojectgacl_aro_sections_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aro_sections_seq` (
  `id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aro_sections_seq`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aro_sections_seq` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aro_sections_seq` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_aro_sections_seq` VALUES
(10);
/*!40000 ALTER TABLE `dotprojectgacl_aro_sections_seq` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_aro_seq`
--

DROP TABLE IF EXISTS `dotprojectgacl_aro_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_aro_seq` (
  `id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_aro_seq`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_aro_seq` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_aro_seq` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_aro_seq` VALUES
(10);
/*!40000 ALTER TABLE `dotprojectgacl_aro_seq` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_axo`
--

DROP TABLE IF EXISTS `dotprojectgacl_axo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_axo` (
  `id` int(11) NOT NULL DEFAULT 0,
  `section_value` varchar(80) NOT NULL DEFAULT '0',
  `value` varchar(80) NOT NULL DEFAULT '',
  `order_value` int(11) NOT NULL DEFAULT 0,
  `name` varchar(255) NOT NULL DEFAULT '',
  `hidden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `gacl_section_value_value_axo` (`section_value`,`value`),
  KEY `gacl_hidden_axo` (`hidden`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_axo`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_axo` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_axo` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectgacl_axo` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_axo_groups`
--

DROP TABLE IF EXISTS `dotprojectgacl_axo_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_axo_groups` (
  `id` int(11) NOT NULL DEFAULT 0,
  `parent_id` int(11) NOT NULL DEFAULT 0,
  `lft` int(11) NOT NULL DEFAULT 0,
  `rgt` int(11) NOT NULL DEFAULT 0,
  `name` varchar(255) NOT NULL DEFAULT '',
  `value` varchar(80) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`,`value`),
  KEY `gacl_parent_id_axo_groups` (`parent_id`),
  KEY `gacl_value_axo_groups` (`value`),
  KEY `gacl_lft_rgt_axo_groups` (`lft`,`rgt`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_axo_groups`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_axo_groups` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_axo_groups` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_axo_groups` VALUES
(10,0,1,8,'Modules','mod'),
(11,10,2,3,'All Modules','all'),
(12,10,4,5,'Admin Modules','admin'),
(13,10,6,7,'Non-Admin Modules','non_admin');
/*!40000 ALTER TABLE `dotprojectgacl_axo_groups` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_axo_groups_id_seq`
--

DROP TABLE IF EXISTS `dotprojectgacl_axo_groups_id_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_axo_groups_id_seq` (
  `id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_axo_groups_id_seq`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_axo_groups_id_seq` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_axo_groups_id_seq` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_axo_groups_id_seq` VALUES
(13);
/*!40000 ALTER TABLE `dotprojectgacl_axo_groups_id_seq` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_axo_groups_map`
--

DROP TABLE IF EXISTS `dotprojectgacl_axo_groups_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_axo_groups_map` (
  `acl_id` int(11) NOT NULL DEFAULT 0,
  `group_id` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`acl_id`,`group_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_axo_groups_map`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_axo_groups_map` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_axo_groups_map` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_axo_groups_map` VALUES
(11,11),
(13,13),
(14,13),
(15,13);
/*!40000 ALTER TABLE `dotprojectgacl_axo_groups_map` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_axo_map`
--

DROP TABLE IF EXISTS `dotprojectgacl_axo_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_axo_map` (
  `acl_id` int(11) NOT NULL DEFAULT 0,
  `section_value` varchar(80) NOT NULL DEFAULT '0',
  `value` varchar(80) NOT NULL DEFAULT '',
  PRIMARY KEY (`acl_id`,`section_value`,`value`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_axo_map`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_axo_map` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_axo_map` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_axo_map` VALUES
(12,'sys','acl'),
(16,'app','users');
/*!40000 ALTER TABLE `dotprojectgacl_axo_map` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_axo_sections`
--

DROP TABLE IF EXISTS `dotprojectgacl_axo_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_axo_sections` (
  `id` int(11) NOT NULL DEFAULT 0,
  `value` varchar(80) NOT NULL DEFAULT '',
  `order_value` int(11) NOT NULL DEFAULT 0,
  `name` varchar(230) NOT NULL DEFAULT '',
  `hidden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `gacl_value_axo_sections` (`value`),
  KEY `gacl_hidden_axo_sections` (`hidden`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_axo_sections`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_axo_sections` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_axo_sections` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_axo_sections` VALUES
(10,'sys',1,'System',0),
(11,'app',2,'Application',0);
/*!40000 ALTER TABLE `dotprojectgacl_axo_sections` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_axo_sections_seq`
--

DROP TABLE IF EXISTS `dotprojectgacl_axo_sections_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_axo_sections_seq` (
  `id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_axo_sections_seq`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_axo_sections_seq` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_axo_sections_seq` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_axo_sections_seq` VALUES
(11);
/*!40000 ALTER TABLE `dotprojectgacl_axo_sections_seq` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_axo_seq`
--

DROP TABLE IF EXISTS `dotprojectgacl_axo_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_axo_seq` (
  `id` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_axo_seq`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_axo_seq` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_axo_seq` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_axo_seq` VALUES
(28);
/*!40000 ALTER TABLE `dotprojectgacl_axo_seq` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_groups_aro_map`
--

DROP TABLE IF EXISTS `dotprojectgacl_groups_aro_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_groups_aro_map` (
  `group_id` int(11) NOT NULL DEFAULT 0,
  `aro_id` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`group_id`,`aro_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_groups_aro_map`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_groups_aro_map` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_groups_aro_map` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_groups_aro_map` VALUES
(11,10);
/*!40000 ALTER TABLE `dotprojectgacl_groups_aro_map` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_groups_axo_map`
--

DROP TABLE IF EXISTS `dotprojectgacl_groups_axo_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_groups_axo_map` (
  `group_id` int(11) NOT NULL DEFAULT 0,
  `axo_id` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`group_id`,`axo_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_groups_axo_map`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_groups_axo_map` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_groups_axo_map` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_groups_axo_map` VALUES
(11,11),
(11,12),
(11,13),
(11,14),
(11,15),
(11,16),
(11,17),
(11,18),
(11,19),
(11,20),
(11,21),
(11,22),
(11,23),
(11,24),
(11,25),
(11,26),
(11,27),
(11,28),
(12,11),
(12,22),
(12,27),
(12,28),
(13,12),
(13,13),
(13,14),
(13,15),
(13,16),
(13,17),
(13,18),
(13,19),
(13,20),
(13,21),
(13,23),
(13,24),
(13,25),
(13,26);
/*!40000 ALTER TABLE `dotprojectgacl_groups_axo_map` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectgacl_phpgacl`
--

DROP TABLE IF EXISTS `dotprojectgacl_phpgacl`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectgacl_phpgacl` (
  `name` varchar(127) NOT NULL DEFAULT '',
  `value` varchar(230) NOT NULL DEFAULT '',
  PRIMARY KEY (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectgacl_phpgacl`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectgacl_phpgacl` WRITE;
/*!40000 ALTER TABLE `dotprojectgacl_phpgacl` DISABLE KEYS */;
INSERT INTO `dotprojectgacl_phpgacl` VALUES
('schema_version','2.1'),
('version','3.3.2');
/*!40000 ALTER TABLE `dotprojectgacl_phpgacl` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectmodules`
--

DROP TABLE IF EXISTS `dotprojectmodules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectmodules` (
  `mod_id` int(11) NOT NULL AUTO_INCREMENT,
  `mod_name` varchar(64) NOT NULL DEFAULT '',
  `mod_directory` varchar(64) NOT NULL DEFAULT '',
  `mod_version` varchar(10) NOT NULL DEFAULT '',
  `mod_setup_class` varchar(64) NOT NULL DEFAULT '',
  `mod_type` varchar(64) NOT NULL DEFAULT '',
  `mod_active` int(1) unsigned NOT NULL DEFAULT 0,
  `mod_ui_name` varchar(20) NOT NULL DEFAULT '',
  `mod_ui_icon` varchar(64) NOT NULL DEFAULT '',
  `mod_ui_order` tinyint(3) NOT NULL DEFAULT 0,
  `mod_ui_active` int(1) unsigned NOT NULL DEFAULT 0,
  `mod_description` varchar(255) NOT NULL DEFAULT '',
  `permissions_item_table` char(100) DEFAULT NULL,
  `permissions_item_field` char(100) DEFAULT NULL,
  `permissions_item_label` char(100) DEFAULT NULL,
  PRIMARY KEY (`mod_id`,`mod_directory`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectmodules`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectmodules` WRITE;
/*!40000 ALTER TABLE `dotprojectmodules` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectmodules` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectpermissions`
--

DROP TABLE IF EXISTS `dotprojectpermissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectpermissions` (
  `permission_id` int(11) NOT NULL AUTO_INCREMENT,
  `permission_user` int(11) NOT NULL DEFAULT 0,
  `permission_grant_on` varchar(12) NOT NULL DEFAULT '',
  `permission_item` int(11) NOT NULL DEFAULT 0,
  `permission_value` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`permission_id`),
  UNIQUE KEY `idx_pgrant_on` (`permission_grant_on`,`permission_item`,`permission_user`),
  KEY `idx_puser` (`permission_user`),
  KEY `idx_pvalue` (`permission_value`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectpermissions`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectpermissions` WRITE;
/*!40000 ALTER TABLE `dotprojectpermissions` DISABLE KEYS */;
INSERT INTO `dotprojectpermissions` VALUES
(1,1,'all',-1,-1);
/*!40000 ALTER TABLE `dotprojectpermissions` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectproject_contacts`
--

DROP TABLE IF EXISTS `dotprojectproject_contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectproject_contacts` (
  `project_id` int(10) NOT NULL,
  `contact_id` int(10) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectproject_contacts`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectproject_contacts` WRITE;
/*!40000 ALTER TABLE `dotprojectproject_contacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectproject_contacts` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectproject_departments`
--

DROP TABLE IF EXISTS `dotprojectproject_departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectproject_departments` (
  `project_id` int(10) NOT NULL,
  `department_id` int(10) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectproject_departments`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectproject_departments` WRITE;
/*!40000 ALTER TABLE `dotprojectproject_departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectproject_departments` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectprojects`
--

DROP TABLE IF EXISTS `dotprojectprojects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectprojects` (
  `project_id` int(11) NOT NULL AUTO_INCREMENT,
  `project_company` int(11) NOT NULL DEFAULT 0,
  `project_company_internal` int(11) NOT NULL DEFAULT 0,
  `project_department` int(11) NOT NULL DEFAULT 0,
  `project_name` varchar(255) DEFAULT NULL,
  `project_short_name` varchar(10) DEFAULT NULL,
  `project_owner` int(11) DEFAULT 0,
  `project_url` varchar(255) DEFAULT NULL,
  `project_demo_url` varchar(255) DEFAULT NULL,
  `project_start_date` datetime DEFAULT NULL,
  `project_end_date` datetime DEFAULT NULL,
  `project_status` int(11) DEFAULT 0,
  `project_percent_complete` tinyint(4) DEFAULT 0,
  `project_color_identifier` varchar(7) DEFAULT '#eeeeee',
  `project_description` text DEFAULT NULL,
  `project_target_budget` decimal(10,2) DEFAULT 0.00,
  `project_actual_budget` decimal(10,2) DEFAULT 0.00,
  `project_creator` int(11) DEFAULT 0,
  `project_private` tinyint(3) unsigned DEFAULT 0,
  `project_departments` char(100) DEFAULT NULL,
  `project_contacts` char(100) DEFAULT NULL,
  `project_priority` tinyint(4) DEFAULT 0,
  `project_type` smallint(6) NOT NULL DEFAULT 0,
  PRIMARY KEY (`project_id`),
  KEY `idx_project_owner` (`project_owner`),
  KEY `idx_sdate` (`project_start_date`),
  KEY `idx_edate` (`project_end_date`),
  KEY `project_short_name` (`project_short_name`),
  KEY `idx_proj1` (`project_company`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectprojects`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectprojects` WRITE;
/*!40000 ALTER TABLE `dotprojectprojects` DISABLE KEYS */;
INSERT INTO `dotprojectprojects` VALUES
(1,1,0,0,'Implementaci├│n y Gesti├│n de un Servidor de Correos','MAIL-SERVE',1,NULL,NULL,'2026-05-04 00:00:00','2026-05-23 23:59:59',3,0,'#b623fb',NULL,10.00,0.00,1,0,NULL,NULL,1,1);
/*!40000 ALTER TABLE `dotprojectprojects` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectroles`
--

DROP TABLE IF EXISTS `dotprojectroles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectroles` (
  `role_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `role_name` varchar(24) NOT NULL DEFAULT '',
  `role_description` varchar(255) NOT NULL DEFAULT '',
  `role_type` int(3) unsigned NOT NULL DEFAULT 0,
  `role_module` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`role_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectroles`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectroles` WRITE;
/*!40000 ALTER TABLE `dotprojectroles` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectroles` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectsessions`
--

DROP TABLE IF EXISTS `dotprojectsessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectsessions` (
  `session_id` varchar(60) NOT NULL DEFAULT '',
  `session_user` int(11) NOT NULL DEFAULT 0,
  `session_data` longblob DEFAULT NULL,
  `session_updated` timestamp NULL DEFAULT NULL,
  `session_created` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`session_id`),
  KEY `session_updated` (`session_updated`),
  KEY `session_created` (`session_created`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectsessions`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectsessions` WRITE;
/*!40000 ALTER TABLE `dotprojectsessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectsessions` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectsyskeys`
--

DROP TABLE IF EXISTS `dotprojectsyskeys`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectsyskeys` (
  `syskey_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `syskey_name` varchar(48) NOT NULL DEFAULT '',
  `syskey_label` varchar(255) NOT NULL DEFAULT '',
  `syskey_type` int(1) unsigned NOT NULL DEFAULT 0,
  `syskey_sep1` char(2) DEFAULT '\n',
  `syskey_sep2` char(2) NOT NULL DEFAULT '|',
  PRIMARY KEY (`syskey_id`),
  UNIQUE KEY `syskey_name` (`syskey_name`),
  UNIQUE KEY `idx_syskey_name` (`syskey_name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectsyskeys`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectsyskeys` WRITE;
/*!40000 ALTER TABLE `dotprojectsyskeys` DISABLE KEYS */;
INSERT INTO `dotprojectsyskeys` VALUES
(1,'SelectList','Enter values for list',0,'\n','|'),
(2,'CustomField','Serialized array in the following format:\r\n<KEY>|<SERIALIZED ARRAY>\r\n\r\nSerialized Array:\r\n[type] => text | checkbox | select | textarea | label\r\n[name] => <Field\'s name>\r\n[options] => <html capture options>\r\n[selects] => <options for select and checkbox>',0,'\n','|'),
(3,'ColorSelection','Hex color values for type=>color association.',0,'\n','|');
/*!40000 ALTER TABLE `dotprojectsyskeys` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectsysvals`
--

DROP TABLE IF EXISTS `dotprojectsysvals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectsysvals` (
  `sysval_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `sysval_key_id` int(10) unsigned NOT NULL DEFAULT 0,
  `sysval_title` varchar(48) NOT NULL DEFAULT '',
  `sysval_value` text NOT NULL,
  PRIMARY KEY (`sysval_id`),
  UNIQUE KEY `idx_sysval_title` (`sysval_title`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectsysvals`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectsysvals` WRITE;
/*!40000 ALTER TABLE `dotprojectsysvals` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectsysvals` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojecttask_contacts`
--

DROP TABLE IF EXISTS `dotprojecttask_contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojecttask_contacts` (
  `task_id` int(10) NOT NULL,
  `contact_id` int(10) NOT NULL,
  KEY `idx_task_contacts` (`task_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojecttask_contacts`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojecttask_contacts` WRITE;
/*!40000 ALTER TABLE `dotprojecttask_contacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojecttask_contacts` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojecttask_departments`
--

DROP TABLE IF EXISTS `dotprojecttask_departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojecttask_departments` (
  `task_id` int(10) NOT NULL,
  `department_id` int(10) NOT NULL,
  KEY `idx_task_departments` (`task_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojecttask_departments`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojecttask_departments` WRITE;
/*!40000 ALTER TABLE `dotprojecttask_departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojecttask_departments` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojecttask_dependencies`
--

DROP TABLE IF EXISTS `dotprojecttask_dependencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojecttask_dependencies` (
  `dependencies_task_id` int(11) NOT NULL,
  `dependencies_req_task_id` int(11) NOT NULL,
  PRIMARY KEY (`dependencies_task_id`,`dependencies_req_task_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojecttask_dependencies`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojecttask_dependencies` WRITE;
/*!40000 ALTER TABLE `dotprojecttask_dependencies` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojecttask_dependencies` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojecttask_log`
--

DROP TABLE IF EXISTS `dotprojecttask_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojecttask_log` (
  `task_log_id` int(11) NOT NULL AUTO_INCREMENT,
  `task_log_task` int(11) NOT NULL DEFAULT 0,
  `task_log_name` varchar(255) DEFAULT NULL,
  `task_log_description` text DEFAULT NULL,
  `task_log_creator` int(11) NOT NULL DEFAULT 0,
  `task_log_hours` float NOT NULL DEFAULT 0,
  `task_log_date` datetime DEFAULT NULL,
  `task_log_costcode` varchar(8) NOT NULL DEFAULT '',
  `task_log_problem` tinyint(1) DEFAULT 0,
  `task_log_reference` tinyint(4) DEFAULT 0,
  `task_log_related_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`task_log_id`),
  KEY `idx_log_task` (`task_log_task`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojecttask_log`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojecttask_log` WRITE;
/*!40000 ALTER TABLE `dotprojecttask_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojecttask_log` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojecttasks`
--

DROP TABLE IF EXISTS `dotprojecttasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojecttasks` (
  `task_id` int(11) NOT NULL AUTO_INCREMENT,
  `task_name` varchar(255) DEFAULT NULL,
  `task_parent` int(11) DEFAULT 0,
  `task_milestone` tinyint(1) DEFAULT 0,
  `task_project` int(11) NOT NULL DEFAULT 0,
  `task_owner` int(11) NOT NULL DEFAULT 0,
  `task_start_date` datetime DEFAULT NULL,
  `task_duration` float unsigned DEFAULT 0,
  `task_duration_type` int(11) NOT NULL DEFAULT 1,
  `task_hours_worked` float unsigned DEFAULT 0,
  `task_end_date` datetime DEFAULT NULL,
  `task_status` int(11) DEFAULT 0,
  `task_priority` tinyint(4) DEFAULT 0,
  `task_percent_complete` tinyint(4) DEFAULT 0,
  `task_description` text DEFAULT NULL,
  `task_target_budget` decimal(10,2) DEFAULT 0.00,
  `task_related_url` varchar(255) DEFAULT NULL,
  `task_creator` int(11) NOT NULL DEFAULT 0,
  `task_order` int(11) NOT NULL DEFAULT 0,
  `task_client_publish` tinyint(1) NOT NULL DEFAULT 0,
  `task_dynamic` tinyint(1) NOT NULL DEFAULT 0,
  `task_access` int(11) NOT NULL DEFAULT 0,
  `task_notify` int(11) NOT NULL DEFAULT 0,
  `task_departments` char(100) DEFAULT NULL,
  `task_contacts` char(100) DEFAULT NULL,
  `task_custom` longtext DEFAULT NULL,
  `task_type` smallint(6) NOT NULL DEFAULT 0,
  PRIMARY KEY (`task_id`),
  KEY `idx_task_parent` (`task_parent`),
  KEY `idx_task_project` (`task_project`),
  KEY `idx_task_owner` (`task_owner`),
  KEY `idx_task_order` (`task_order`),
  KEY `idx_task1` (`task_start_date`),
  KEY `idx_task2` (`task_end_date`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojecttasks`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojecttasks` WRITE;
/*!40000 ALTER TABLE `dotprojecttasks` DISABLE KEYS */;
INSERT INTO `dotprojecttasks` VALUES
(1,'Fase 1 - An├ílisis',1,0,1,1,'2026-05-04 14:07:00',50,1,0,'2026-05-07 23:59:00',0,0,0,NULL,0.00,'',1,0,0,0,0,0,'','',NULL,0);
/*!40000 ALTER TABLE `dotprojecttasks` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojecttickets`
--

DROP TABLE IF EXISTS `dotprojecttickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojecttickets` (
  `ticket` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `ticket_company` int(10) NOT NULL DEFAULT 0,
  `ticket_project` int(10) NOT NULL DEFAULT 0,
  `author` varchar(100) NOT NULL DEFAULT '',
  `recipient` varchar(100) NOT NULL DEFAULT '',
  `subject` varchar(100) NOT NULL DEFAULT '',
  `attachment` tinyint(1) unsigned NOT NULL DEFAULT 0,
  `timestamp` int(10) unsigned NOT NULL DEFAULT 0,
  `type` varchar(15) NOT NULL DEFAULT '',
  `assignment` int(10) unsigned NOT NULL DEFAULT 0,
  `parent` int(10) unsigned NOT NULL DEFAULT 0,
  `activity` int(10) unsigned NOT NULL DEFAULT 0,
  `priority` tinyint(1) unsigned NOT NULL DEFAULT 1,
  `cc` varchar(255) NOT NULL DEFAULT '',
  `body` text NOT NULL,
  `signature` text DEFAULT NULL,
  PRIMARY KEY (`ticket`),
  KEY `parent` (`parent`),
  KEY `type` (`type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojecttickets`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojecttickets` WRITE;
/*!40000 ALTER TABLE `dotprojecttickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojecttickets` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectuser_access_log`
--

DROP TABLE IF EXISTS `dotprojectuser_access_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectuser_access_log` (
  `user_access_log_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `user_ip` varchar(15) NOT NULL,
  `date_time_in` datetime DEFAULT '0000-00-00 00:00:00',
  `date_time_out` datetime DEFAULT '0000-00-00 00:00:00',
  `date_time_last_action` datetime DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`user_access_log_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectuser_access_log`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectuser_access_log` WRITE;
/*!40000 ALTER TABLE `dotprojectuser_access_log` DISABLE KEYS */;
INSERT INTO `dotprojectuser_access_log` VALUES
(1,1,'172.18.0.1','2026-05-16 06:10:08','0000-00-00 00:00:00','2026-05-16 06:12:52'),
(2,1,'172.18.0.1','2026-05-16 13:49:25','0000-00-00 00:00:00','2026-05-16 14:12:13');
/*!40000 ALTER TABLE `dotprojectuser_access_log` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectuser_events`
--

DROP TABLE IF EXISTS `dotprojectuser_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectuser_events` (
  `user_id` int(11) NOT NULL DEFAULT 0,
  `event_id` int(11) NOT NULL DEFAULT 0,
  KEY `uek1` (`user_id`,`event_id`),
  KEY `uek2` (`event_id`,`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectuser_events`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectuser_events` WRITE;
/*!40000 ALTER TABLE `dotprojectuser_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectuser_events` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectuser_preferences`
--

DROP TABLE IF EXISTS `dotprojectuser_preferences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectuser_preferences` (
  `pref_user` varchar(12) NOT NULL DEFAULT '',
  `pref_name` varchar(72) NOT NULL DEFAULT '',
  `pref_value` varchar(32) NOT NULL DEFAULT '',
  KEY `pref_user` (`pref_user`,`pref_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectuser_preferences`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectuser_preferences` WRITE;
/*!40000 ALTER TABLE `dotprojectuser_preferences` DISABLE KEYS */;
INSERT INTO `dotprojectuser_preferences` VALUES
('0','LOCALE','en'),
('0','TABVIEW','0'),
('0','SHDATEFORMAT','%d/%m/%Y'),
('0','TIMEFORMAT','%I:%M %p'),
('0','UISTYLE','default'),
('0','TASKASSIGNMAX','100'),
('0','USERFORMAT','user'),
('0','USEDIGESTS','0');
/*!40000 ALTER TABLE `dotprojectuser_preferences` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectuser_roles`
--

DROP TABLE IF EXISTS `dotprojectuser_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectuser_roles` (
  `user_id` int(10) unsigned NOT NULL DEFAULT 0,
  `role_id` int(10) unsigned NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectuser_roles`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectuser_roles` WRITE;
/*!40000 ALTER TABLE `dotprojectuser_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectuser_roles` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectuser_task_pin`
--

DROP TABLE IF EXISTS `dotprojectuser_task_pin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectuser_task_pin` (
  `user_id` int(11) NOT NULL DEFAULT 0,
  `task_id` int(10) NOT NULL DEFAULT 0,
  `task_pinned` tinyint(2) NOT NULL DEFAULT 1,
  PRIMARY KEY (`user_id`,`task_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectuser_task_pin`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectuser_task_pin` WRITE;
/*!40000 ALTER TABLE `dotprojectuser_task_pin` DISABLE KEYS */;
/*!40000 ALTER TABLE `dotprojectuser_task_pin` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectuser_tasks`
--

DROP TABLE IF EXISTS `dotprojectuser_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectuser_tasks` (
  `user_id` int(11) NOT NULL DEFAULT 0,
  `user_type` tinyint(4) NOT NULL DEFAULT 0,
  `task_id` int(11) NOT NULL DEFAULT 0,
  `perc_assignment` int(11) NOT NULL DEFAULT 100,
  `user_task_priority` tinyint(4) DEFAULT 0,
  PRIMARY KEY (`user_id`,`task_id`),
  KEY `user_type` (`user_type`),
  KEY `idx_user_tasks` (`task_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectuser_tasks`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectuser_tasks` WRITE;
/*!40000 ALTER TABLE `dotprojectuser_tasks` DISABLE KEYS */;
INSERT INTO `dotprojectuser_tasks` VALUES
(1,0,1,100,0);
/*!40000 ALTER TABLE `dotprojectuser_tasks` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dotprojectusers`
--

DROP TABLE IF EXISTS `dotprojectusers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dotprojectusers` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_contact` int(11) NOT NULL DEFAULT 0,
  `user_username` varchar(255) NOT NULL DEFAULT '',
  `user_password` varchar(32) NOT NULL DEFAULT '',
  `user_parent` int(11) NOT NULL DEFAULT 0,
  `user_type` tinyint(3) NOT NULL DEFAULT 0,
  `user_company` int(11) DEFAULT 0,
  `user_department` int(11) DEFAULT 0,
  `user_owner` int(11) NOT NULL DEFAULT 0,
  `user_signature` text DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  KEY `idx_uid` (`user_username`),
  KEY `idx_pwd` (`user_password`),
  KEY `idx_user_parent` (`user_parent`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dotprojectusers`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dotprojectusers` WRITE;
/*!40000 ALTER TABLE `dotprojectusers` DISABLE KEYS */;
INSERT INTO `dotprojectusers` VALUES
(1,1,'admin','76a2173be6393254e72ffa4d6df1030a',0,1,0,0,0,'');
/*!40000 ALTER TABLE `dotprojectusers` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-05-16 14:18:23
